@import "tailwindcss";

@theme {
    --color-surface: #faf8ff;
    --color-surface-dim: #d2d9f4;
    --color-surface-bright: #faf8ff;
    --color-surface-container-lowest: #ffffff;
    --color-surface-container-low: #f2f3ff;
    --color-surface-container: #eaedff;
    --color-surface-container-high: #e2e7ff;
    --color-surface-container-highest: #dae2fd;
    --color-on-surface: #131b2e;
    --color-on-surface-variant: #434655;
    --color-inverse-surface: #283044;
    --color-inverse-on-surface: #eef0ff;
    --color-outline: #737686;
    --color-outline-variant: #c3c6d7;
    --color-surface-tint: #0053db;
    --color-primary: #004ac6;
    --color-on-primary: #ffffff;
    --color-primary-container: #2563eb;
    --color-on-primary-container: #eeefff;
    --color-inverse-primary: #b4c5ff;
    --color-secondary: #006d30;
    --color-on-secondary: #ffffff;
    --color-secondary-container: #92f5a4;
    --color-on-secondary-container: #007233;
    --color-tertiary: #ab0f14;
    --color-on-tertiary: #ffffff;
    --color-tertiary-container: #cf2e29;
    --color-on-tertiary-container: #ffedea;
    --color-error: #ba1a1a;
    --color-on-error: #ffffff;
    --color-error-container: #ffdad6;
    --color-on-error-container: #93000a;
    --color-primary-fixed: #dbe1ff;
    --color-primary-fixed-dim: #b4c5ff;
    --color-on-primary-fixed: #00174b;
    --color-on-primary-fixed-variant: #003ea8;
    --color-secondary-fixed: #95f8a7;
    --color-secondary-fixed-dim: #79db8d;
    --color-on-secondary-fixed: #00210a;
    --color-on-secondary-fixed-variant: #005323;
    --color-tertiary-fixed: #ffdad6;
    --color-tertiary-fixed-dim: #ffb4ab;
    --color-on-tertiary-fixed: #410002;
    --color-on-tertiary-fixed-variant: #93000b;
    --color-background: #faf8ff;
    --color-on-background: #131b2e;
    --color-surface-variant: #dae2fd;

    --font-mono: var(--font-jetbrains-mono);
    --font-sans: var(--font-inter);
}

.dark {
    --color-surface: #101419;
    --color-surface-dim: #101419;
    --color-surface-bright: #36393f;
    --color-surface-container-lowest: #0b0e13;
    --color-surface-container-low: #191c21;
    --color-surface-container: #1d2025;
    --color-surface-container-high: #272a30;
    --color-surface-container-highest: #32353b;
    --color-on-surface: #e1e2e9;
    --color-on-surface-variant: #c1c7d3;
    --color-inverse-surface: #e1e2e9;
    --color-inverse-on-surface: #2d3036;
    --color-outline: #8b919d;
    --color-outline-variant: #414751;
    --color-surface-tint: #a4c9ff;
    --color-primary: #a4c9ff;
    --color-on-primary: #00315d;
    --color-primary-container: #60a5fa;
    --color-on-primary-container: #003a6b;
    --color-inverse-primary: #0060ac;
    --color-secondary: #45dfa4;
    --color-on-secondary: #003825;
    --color-secondary-container: #00bd85;
    --color-on-secondary-container: #00452e;
    --color-tertiary: #cebdff;
    --color-on-tertiary: #381385;
    --color-tertiary-container: #ad91ff;
    --color-on-tertiary-container: #40208d;
    --color-error: #ffb4ab;
    --color-on-error: #690005;
    --color-error-container: #93000a;
    --color-on-error-container: #ffdad6;
    --color-primary-fixed: #d4e3ff;
    --color-primary-fixed-dim: #a4c9ff;
    --color-on-primary-fixed: #001c39;
    --color-on-primary-fixed-variant: #004883;
    --color-secondary-fixed: #68fcbf;
    --color-secondary-fixed-dim: #45dfa4;
    --color-on-secondary-fixed: #002114;
    --color-on-secondary-fixed-variant: #005137;
    --color-tertiary-fixed: #e8ddff;
    --color-tertiary-fixed-dim: #cebdff;
    --color-on-tertiary-fixed: #21005e;
    --color-on-tertiary-fixed-variant: #4f319c;
    --color-background: #101419;
    --color-on-background: #e1e2e9;
    --color-surface-variant: #32353b;
}

::-moz-selection {
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
}

::selection {
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
}

button {
    cursor: pointer;
}

input:-webkit-autofill {
    /* match your input bg */
    -webkit-text-fill-color: var(--color-surface-bright) !important;
    /* match your input text color */
    -webkit-box-shadow: 0 0 0px 1000px var(--color-surface) inset !important;
    -webkit-transition: background-color 5000s ease-in-out 0s !important;
    transition: background-color 5000s ease-in-out 0s !important;

}

.fancy-radius {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% !important;
    -webkit-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% !important;
    -moz-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% !important;
    -ms-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% !important;
    -o-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% !important;
}

::-webkit-scrollbar {
    width: 0px;
}

input:disabled,
button:disabled,
textarea:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}